*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main */
.main{
    background-image: url(./image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
}
.btn-primary{
    background-color: rgb(23, 16, 234);
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}
a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  
}
ul {
    list-style: none;
    text-decoration:none;
    padding-right: 50px;
   
}
li{
    text-decoration: none;
}

