*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-image: url(./image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.navbar-brand{
    width: 70px;
    height: 70px;
}
.fs-4{
    margin-top: 30px;
}
.mb-lg-0 {
    padding-top: 20px;
}

.containers{
   margin-left: 50px;
   margin-top: 20px;
}
 .mb-lg-0{
    text-align: center;
    color: blue;
    margin: 10px;
 }
 .table{
    margin-top: 30px;
    margin-left: 30px;
 }
 .hero-service{
    background-image: url(./image/abstract-dark-black-leaf-floral-pattern-vector-background-illustration_148006-50.jpg);
    height: 300px;
    background-repeat: no-repeat;
background-size: cover;
 }

footer{
    background-color:whitesmoke;
    padding: 30px;
    margin-top: 20px;
    
}

